<div class="content" role="main">
  <div class="card-container">
    <a class="card" routerLink="" routerLinkActive="card_active" [routerLinkActiveOptions]="{exact:
true}">
      <span>Главная</span>
    </a>

    <a class="card" routerLink="/about" routerLinkActive="card_active">
      <span>О компании</span>
    </a>

    <a class="card" routerLink="/blog" routerLinkActive="card_active">
      <span>Блог</span>
    </a>

    <a class="card" routerLink="/help" routerLinkActive="card_active">
      <span>Помощь</span>
    </a>

    <a class="card" routerLink="/contacts" routerLinkActive="card_active">
      <span>Контакты</span>
    </a>
  </div>

  <div class="page-content">
    <router-outlet></router-outlet>

    <app-tools-bar></app-tools-bar>
  </div>
</div>


